<h1> <%= @raves.name %> </h1>
<body>
<% total = @raves.travel_cost + @raves.food_cost + @raves.hotel_cost %>
Travel Cost:<%= @raves.travel_cost %><br>
Food Cost:<%= @raves.food_cost %><br>
Hotel Cost:<%= @raves.hotel_cost %><br>
Total:<%= total %>
<a href="/users/homepage">Homepage</a>
<a href="/raves/:id/edit">Edit</a>