<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>RaveSinatra</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <img src="/images/illenium.jpg" height="300" width="900" alt="Responsive image">
    <link rel="stylesheet" href="/stylesheets/signup.css" />

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">RaveSinatra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/users/homepage">Homepage <span class="sr-only">(current)</span></a>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rave
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/raves/<%= @raves[:id] %>/edit">Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/raves/<%= @raves[:id] %>/delete">Delete</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/sessions/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
 </head>
 <div>   
    <h1> <%= @raves[:name] %> </h1>
    <body>
    Travel Cost:<%= @raves[:travel_cost] %><br>
    Food Cost:<%= @raves[:food_cost] %><br>
    Hotel Cost:<%= @raves[:hotel_cost] %><br>
    <%# <% @raves[:total] = @raves[:travel_cost] + @raves[:food_cost] + @raves[:hotel_cost] %> 
    Total:<%= @raves[:total] %>
        <%# <button type="button" class="btn btn-outline-light"><a href="/users/homepage">Homepage</a></button> %>
        <%# <button type="button" class="btn btn-outline-light"><a href="/raves/<%= @raves[:id] %>      <%#/edit">Edit</a></button> %>
        <%# <button type="button" class="btn btn-outline-light"><a href="/raves/<%= @raves[:id]/delete">Delete</a></button>     %>
    </div>
</html>